<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>
	<h1 th:text='|Opslag voor ${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
	<dl>
		<dt>Huidig salaris</dt>
		<dd th:text='${werknemer.salaris}'></dd>
	</dl>
	<form method='post'
		th:action='@{/werknemers/{id}/opslag(id=${werknemer.id})}'
		th:object='${opslagForm}'>
		<label>Bedrag: 
			<!-- <span th:if="${#fields.hasErrors('bedrag')}" th:errors='*{bedrag}'></span> --> 
			<input type='number' th:field='*{bedrag}' required autofocus>
		</label> <input type='submit' value='Opslag'>
	</form>

</body>
</html>