<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>
	<h1 th:text='|Rijksregisternummer van ${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
	<form method='post'
		th:action='@{/werknemers/{id}/rijksregisternummer(id=${werknemer.id})}'
		th:object='${rijksregisternummerForm}'>
		<label>Rijksregisternummer: 
			<span th:if="${#fields.hasErrors('rijksregisternr')}" th:errors='*{rijksregisternr}'></span> 
			<input type='number' th:field='*{rijksregisternr}' required autofocus>
		</label> 
		<label id='geboorte'>Geboorte:
			<input th:field='*{geboortedatumAlsString}' required autofocus>
		</label>
<!--  		<script>document.getElementById('geboorte').style.visibility="hidden"</script> -->
		<input type='submit' value='Opslaan'>

		<div th:if='${#fields.hasGlobalErrors()}'>
			<div class='fout' th:each='err : ${#fields.globalErrors()}' th:text='${err}'></div>
		</div>
	</form>
</body>
</html>