<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>
	<h1 th:text='|${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
	<dl>
		<dt>Voornaam</dt>
		<dd th:text='${werknemer.voornaam}'></dd>
		<dt>Familienaam</dt>
		<dd th:text='${werknemer.familienaam}'></dd>
		<dt>Email adres</dt>
		<dd th:text='${werknemer.email}'></dd>
		<dt>Salaris</dt>
		<dd th:text='${werknemer.salaris}'></dd>
		<dt>Jobtitel</dt>
 		<dd th:text='${werknemer.jobtitel.naam}'></dd> 
		<dt>Geboorte</dt>
		<dd th:text='${{werknemer.geboorte}}'></dd>
		<dt>Ondergeschikten</dt>		
		<dd>
			<ul>
				<li th:each='ondergeschikte:${ondergeschikten}'>
					<a th:href='@{/werknemers/{id}/ondergeschikten/{ondergeschikte}(id=${werknemer.id}, ondergeschikte=|${ondergeschikte.id}|)}' th:text='|${ondergeschikte.voornaam} ${ondergeschikte.familienaam}|'></a>
				</li>
			</ul>
		</dd>
		<dt>Foto</dt>		
		<dd><img alt='foto' th:src='@{/images/|${werknemer.id}|.jpg}' title='${werknemer.voornaam}'></dd>
		<dd><img alt='foto' th:src='@{/images/1.jpg}' title='${werknemer.voornaam}'></dd>
		
		<a th:href='@{/werknemers/{id}/opslag(id=${werknemer.id})}'>Opslag</a>
		<a th:href='@{/werknemers/{id}/rijksregisternummer(id=${werknemer.id})}'>Rijksregisternummer</a>
		
	</dl>
	
 	<h1 th:text='|${ondergeschikte.voornaam} ${ondergeschikte.familienaam}|'></h1>
	<dl>
		<dt>Voornaam</dt>
		<dd th:text='${ondergeschikte.voornaam}'></dd>
		<dt>Familienaam</dt>
		<dd th:text='${ondergeschikte.familienaam}'></dd>
	
	</dl>
	
</body>
</html>