<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>

<!-- 	<div th:each='werknemer:${getoondeWerknemers}'> -->

		<h1 th:text='|${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
		<dl>
			<dt>Voornaam</dt>
			<dd th:text='${werknemer.voornaam}'></dd>
			<dt>Familienaam</dt>
			<dd th:text='${werknemer.familienaam}'></dd>
			<dt>Email adres</dt>
			<dd th:text='${werknemer.email}'></dd>
			<dt>Salaris</dt>
			<dd th:text='${werknemer.salaris}'></dd>
			<dt>Jobtitel</dt>
	 		<dd th:text='${werknemer.jobtitel.naam}'></dd> 
			<dt>Geboorte</dt>
			<dd th:text='${{werknemer.geboorte}}'></dd>

			<div th:if='${chef != null}'>
				<dt>Chef</dt>		
				<dd>
					<a th:href='@{/werknemers/{id}(id=${chef.id})}' th:text='|${chef.voornaam} ${chef.familienaam}|'></a>
				</dd>
			</div>

<!-- 			<div th:if='${werknemer.chef != null}'>
				<dt>Chef</dt>		
				<dd>
					<a th:href='@{/werknemers/{id}(id=${werknemer.chef.id})}' th:text='|${werknemer.chef.voornaam} ${werknemer.chef.familienaam}|'></a>
				</dd>
			</div>
 -->	
			<dt>Ondergeschikten</dt>
 			<dd>
				<ul id='ondergeschikten'>
					<li th:each='ondergeschikte:${ondergeschikten}'>
						<a th:href='@{/werknemers/{id}(id=${ondergeschikte.id})}' th:text='|${ondergeschikte.voornaam} ${ondergeschikte.familienaam}|'></a>
					</li>
				</ul>
			</dd> 					
<!-- 			<dd>
				<ul id='ondergeschikten'>
					<li th:each='ondergeschikte:${werknemer.ondergeschikten}'>
						<a th:href='@{/werknemers/{id}(id=${ondergeschikte.id})}' th:text='|${ondergeschikte.voornaam} ${ondergeschikte.familienaam}|'></a>
					</li>
				</ul>
			</dd> -->
	
			<dt>Foto</dt>
			<dd><img alt='foto' th:src='@{/images/{nummer}.jpg(nummer=${werknemer.id})}' th:title='|${werknemer.voornaam} ${werknemer.familienaam}|'></dd>	
			
			<br>
			
			<a th:href='@{/werknemers/{id}/opslag(id=${werknemer.id})}'>Opslag</a>
			<a th:href='@{/werknemers/{id}/rijksregisternummer(id=${werknemer.id})}'>Rijksregisternummer</a>
			
		</dl>


<!-- 	</div> -->


	
</body>
</html>