<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>
	<h1 th:text='Jobtitels'></h1>
	<ul id='jobtitels'>
		<li th:each='jobtitel:${jobtitels}'>
			<a th:href='@{/jobtitels/{id}(id=${jobtitel.id})}' th:text='${jobtitel.naam}'></a>
		</li>
	</ul>
	
	<h1 th:if="${jobtitel != null}" th:text='${jobtitel.naam}'></h1>
	
	<ul th:if="${jobtitel != null}">
		<li th:each='werknemer:${jobtitel.werknemers}'>
			<a th:href='@{/werknemers/{id}(id=${werknemer.id})}' th:text='|${werknemer.voornaam} ${werknemer.familienaam}|'></a>
		</li>
	
	</ul>
</body>
</html>