<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head>
	<link rel='icon' th:href='@{/images/personeel.ico}' type='image/x-icon'>
	<title>Personeel</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<link rel='stylesheet' th:href='@{/css/personeel.css}'>
</head>
<body>
	<h1>
		Menu
	</h1>
	<ul>
		<li><a th:href='@{/werknemers}'>Werknemershiërarchie</a></li>
		<li><a th:href='@{/jobtitels}'>Jobtitels</a></li>
	</ul>

</body>
</html>